mixin categories_table(categories, videos, videopages, categorypages)
    -let noItems = true
    #container.text-light.bg-dark.rounded.mx-2(data-action=categorypages.action, data-csrf=categorypages.csrfToken)
        #items-container.card.text-dark.row
            .col-6(data-action=categories.action)
                .list-titles
                    .title
                        span= categories.count+' - Categorias'
                include ../items-list
                +items_list(categories, categorypages, "category")

            .col-6(data-action=videos.action)
                .list-titles
                    .nav.nav-tabs
                        .nav-item
                            input#tab-list-videos(type="radio" name="tabs" checked)
                            label.nav-link(for="tab-list-videos") Lista de videos
                        .nav-item
                            input#tab-all-videos(type="radio" name="tabs")
                            label.nav-link(for="tab-all-videos") Todos los Videos
                include ../video-list
                +videoList(videos, videopages, noItems)
                