mixin items-view(items, pagedatas, isFile, itemList)
    #container(data-page=pagedatas.currentPage data-total=pagedatas.totalPages)    
        #controls
            if itemList && itemList.length > 0
                #list-select.form-control
                    if url.includes('favorite')
                        span#create-fav
                            i.fa.fa-plus-square
                    select.form-control(onchange="chooseList(this)")
                        -for(let list of itemList)
                            option(value=""+list.Id selected=(list.Name == pagedatas.list ? true : false))= list.Name
                    if url.includes('favorite')
                        span#remove-fav
                            i.fa.fa-trash-alt
            
            if pagedatas.totalPages > 0 || pagedatas.search || url.includes('folder-content')
                #home-search.input-group.search-container
                    if url.includes('folder-content')
                        span#goback.fas.fa-arrow-up
                    .input-group-prepend
                        button.btn-search.input-group-text
                            i.fa.fa-search
                    input.search-input.form-control(type="text" name="search" value=pagedatas.search placeholder="Search")
                    span.clear-search
                        i.fas.fa-times-circle
            
            include ../share/pagination
            +pagination(items.count, pagedatas)
                
        .items-list(id=(isFile ? "files-list" : "folders-list"), data-csrf=pagedatas.csrfToken)
            each item in items.rows
                .items(tabindex="0" id=item.Id, data-type=(isFile ? item.Type : ""))
                    .item-video
                        .item-btns
                            if item.Type
                                if item.Type.includes('Manga')
                                    span.item-play.fas.fa-book-open
                                    span.item-progress= ((item.CurrentPos+1) || 1)+"/"+item.Duration 
                                else
                                    span.item-play.far.fa-play-circle
                                    span.item-progress= formatTime(item.CurrentPos) +"/"+formatTime(item.Duration)

                                if pagedatas.action.includes("/favorites")
                                    span.item-del.far.fa-trash-alt
                                else
                                    span.item-fav.fa-star(class=""+(item.isFav ? "text-warning fas" : "far"))
                            else
                                span.float-right.fas.fa-folder
                        .item-cover
                            img.fa(draggable="false" src="/covers/"+ (isFile ? 'files/folder-'+item.DirectoryId+'/' : 'folders/')+item.Id+'.jpg' alt="Loading Image - Reload")
                        .item-name= item.Name
        if !pagedatas.action.includes('recent')
            #ordering
                .input-group
                    .input-group-prepend
                        label.input-group-text(for="items" value="") Sort
                    select#order-select.form-control(name="orderby" onchange="selectOrder(this)" style='font-family: "Font Awesome 5 Free", "sans-serif";')
                        option(value="nu" selected=pagedatas.orderby.includes('nu')) &#xf15d; Name
                        option(value="nd" selected=pagedatas.orderby.includes('nd')) &#xf15e; Name
                        option(value="du" selected=pagedatas.orderby.includes('du')) &#xf162; Date
                        option(value="dd" selected=pagedatas.orderby.includes('dd')) &#xf163; Date
        