mixin pagination(total, data)
    -let currentPage = parseInt(data.currentPage)
    -let totalPages = parseInt(data.totalPages)
    -let itemsPerPage = parseInt(data.itemsPerPage)
    -let search = data.search
    -let step = data.step || 6
    -let page = 2;
    -let searchAction = data.action
    if data.action === '/categories/'
        -data.action += data.cat+"/"
    if totalPages > 1 
        div#pager
            if isAndroid
                #android-pager.input-group
                    .input-group-text
                        span#prev-list-page
                            i.fas.fa-chevron-circle-left
                        span#current-page= currentPage+"/"+totalPages
                        span#next-list-page
                            i.fas.fa-chevron-circle-right 
            else 
                ul#norm-os.pagination(data-action=data.action)
                    li.page-item(data-title="Jump To Page").popup-msg
                            select#page-select.form-control(name="page")
                                -for(let i = 1; i < totalPages+1; i++)
                                    option(value=""+i selected=(currentPage == i ? true : false))= i
                    if !noItems && totalPages > 0                
                        li.page-item(data-title="Item Per Page").popup-msg
                            select#itemperpage.page-link(name="items")
                                -let selected = false
                                -for(let i = step; i < total; i += step)
                                    option(value=""+i selected=(itemsPerPage === i ? true : false))= i
                                    -if(itemsPerPage === i) selected = true
                                option(value=""+total selected=!selected)= total
                    if currentPage == 1
                        li.page-item.disabled(data-title="First Page").popup-msg
                            a.page-link
                                i.fa.fa-angle-double-left
                        li.page-item.disabled(data-title="Previous Page").popup-msg
                            a.page-link
                                i.fa.fa-angle-left
                    else
                        li.page-item(data-page=1 data-title="First Page").popup-msg
                            a.page-link(href=data.action+1+"/"+itemsPerPage+"/"+search)
                                i.fa.fa-angle-double-left
                        li.page-item(data-page=currentPage-1 data-title="Previous Page").popup-msg
                            a.page-link(href=data.action+(currentPage-1)+"/"+itemsPerPage+"/"+search)
                                i.fa.fa-angle-left
                        
                    -for (let i = currentPage - page; i <= currentPage - 1; i++)
                        -if (i > 0)
                            li.page-item(data-page=i)
                                a.page-link(href=data.action+i+"/"+itemsPerPage+"/"+search)= i
                    li.page-item.active
                        a.page-link= currentPage

                    -for (let i = currentPage + 1; i <= currentPage + page; i++)
                        -if (i < parseInt(totalPages)+1)
                            li.page-item(data-page=i)
                                a.page-link(href=data.action+i+"/"+itemsPerPage+"/"+search)= i
                    
                    if currentPage == totalPages
                        li.page-item.disabled(data-title="Next Page").popup-msg
                            a.page-link
                                i.fa.fa-angle-right
                        li.page-item.disabled(data-title="Last Page").popup-msg
                            a.page-link
                                i.fa.fa-angle-double-right
                    else
                        li.page-item(data-page=parseInt(currentPage)+1 data-title="Next Page").popup-msg
                            a.page-link(href=data.action+(parseInt(currentPage)+1)+"/"+itemsPerPage+"/"+search)
                                i.fa.fa-angle-right
                        li.page-item(data-page=totalPages data-title="Last Page").popup-msg
                            a.page-link(href=data.action+totalPages+"/"+itemsPerPage+"/"+search)
                                i.fa.fa-angle-double-right
    if !noItems && totalPages > 0
        #itemsPerPage(data-itemsperpage=itemsPerPage)
            
            span.badge.badge-primary.popup-msg(data-title="Files Found")= total