mixin users_table(users, pagedatas)
    #container.text-light.bg-dark.rounded.mx-2(data-action=pagedatas.action, data-csrf=pagedatas.csrfToken)
        #table-controls
            span.show-form
                i.fa.fa-user-plus.text-primary
            #search-container
                form#search-form.d-inline-block.ml-2(action=pagedatas.action+"search" method="POST") 
                    input(type="hidden" name="_csrf" value=""+ pagedatas.csrfToken)
                    input(type="hidden" name="page" value=""+ pagedatas.currentPage)
                    input(type="hidden" name="items" value=""+ pagedatas.itemsPerPage)
                    .input-group.mb-3
                        .input-group-prepend
                            button#btn-search.input-group-text(type="submit")
                                i.fa.fa-search
                        input#search-input.form-control(type="text" name="search" value=pagedatas.search placeholder="Enter Search" required)
                        span#clear-search
                            i.fas.fa-times-circle
            
            include ../../share/pagination
            +pagination(users.count, pagedatas)
        #table-container
            table.table.table-dark.user-table.table-hover
                thead
                    tr
                        th Acciones
                        th Id Usuario
                        th Rol
                        th Estado
                        th Agregado En
                tbody
                    each user in users.rows
                        tr(id=""+ user.Id)
                            td
                                span.show-form
                                    i.fas.fa-edit.fa-2x
                                span.show-delete
                                    i.ml-2.text-danger.fas.fa-trash-alt.fa-2x
                            td= user.Name
                            td= roles[user.Role]
                            td= user.State
                            td= moment(user.CreatedAt).locale("es").format("LL")