mixin users_table(users, pagedatas)
    #container.text-light.bg-dark.rounded.mx-2(data-action=pagedatas.action, data-csrf=pagedatas.csrfToken)
        #table-controls
            span.show-form
                i.fa.fa-user-plus.text-primary
            include ../../share/search
            +search(pagedatas, pagedatas.action+"search", "search-form")
            include ../../share/pagination
            +pagination(users.count, pagedatas)
        #table-container
            table.table.table-dark.user-table.table-hover
                thead
                    tr
                        th Acciones
                        th Id Usuario
                        th Rol
                        th Estado
                        th Agregado En
                tbody
                    each user in users.rows
                        tr(id=""+ user.Id)
                            td
                                span.show-form
                                    i.fas.fa-edit.fa-2x
                                span.show-delete
                                    i.ml-2.text-danger.fas.fa-trash-alt.fa-2x
                            td
                                span= user.Name
                            td= roles[user.Role]
                            td= user.State
                            td= moment(user.CreatedAt).locale("es").format("LL")